export(eblupDyn, eblupRY, mvrnormSeries, geo_ratios, vcovgen)
importFrom("stats", "model.matrix", "model.frame", "pnorm", "formula", "aggregate", "vcov")
importFrom("MASS", "mvrnorm")
importFrom("survey", "svydesign", "svytotal", "make.formula")
importFrom("utils", "tail")